.attainments {
  display: flex !important;
  justify-content: space-between;
  margin: 20px  80px 0px 80px;
}

.active-class {
  color: blue !important;
  border-bottom: 3px solid blue;
  font-weight: 700;
}
.unActive-class {
  color: rgb(158, 154, 154) !important;
  text-decoration: none !important;
}

@media screen and (max-width: 768px) {
  .attainments {
    display: block !important;
    margin: 40px 20px;
  }
  .attainments h4 {
    text-align: center;
    margin-bottom: 20px;
  }
  .breadcrumb {
    margin-left: 15px !important;
  }
}
