.card {
  background: #f6f5fb;
  border: none;
}

.card-img {
  position: relative;
}
.bar-img {
  position: absolute;
  margin-top: 70px;
}
.card-info {
  text-align: start;
  margin-left: -20px;
}
.card-button p {
  width: 60px;
  height: 30px;
  background: #0a70f5;
  color: aliceblue;
}
.profile-img{
  width: 160px;
}

@media screen and (max-width:768px) {
  .profile-img{
    width: 100px;
  }
  .bar-img {
    margin-top: 40px;
    left: -10px;
  }
  .card-button p{
    width: 40px;
  }
  .card-info {
    text-align: start;
   
  }
}