.lineChart{
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (max-width:768px) {
    .lineChart {
        margin-left: 10px;
        margin-bottom: 20px;
      }
}