/* .progress-grammar {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress-grammar:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid #d5e9e1;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-grammar > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress-grammar .progress-left-grammar {
  left: 0;
}
.progress-grammar .progress-bar-grammar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 15px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress-grammar .progress-left-grammar .progress-bar-grammar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress-grammar .progress-right-grammar {
  right: 0;
}
.progress-grammar .progress-right-grammar .progress-bar-grammar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress-grammar .progress-value-grammar {
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: #0a70f5;
  text-align: center;
  position: absolute;
}
.progress.blue-grammar .progress-bar-grammar {
  border-color: #125bbc;
}

.progress.blue-grammar .progress-left-grammar .progress-bar-grammar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.loading-grammar {
  position: relative;
}
.progress-value-grammar {
  position: absolute;
  height: 100px;
  width: 100px;
  background: #d1e9ed;
  top: 26px;
  left: 35px;
  border-radius: 100%;
  text-align: center;
}

.speaking-text-grammar {
  text-align: left;
  margin-top: 20px;
  margin-left: 40px;
} */
.progress-grammar:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid #79a9b7;
  position: absolute;
  top: 0;
  left: 0;
}
.progress.yellow .progress-bar {
  border-color: #0a70f5;
}
.progress.yellow .progress-bar {
  border-color: #4569d7;
}
.progress.yellow .progress-right .progress-bar {
  animation: loading-grammar 1s linear forwards 1.8s;
}

@keyframes loading-grammar {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
  }
}
.loading-grammar {
  position: relative;
}
.progress-value-grammar {
  position: absolute;
  height: 100px;
  width: 100px;
  background: #d1e9ed;
  top: 26px;
  left: 25px;
  border-radius: 100%;
  text-align: center;
}

.speaking-text {
  text-align: left;
  margin-top: 20px;
  margin-left: 40px;
}
