.progress-grammar:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid #026381;
  position: absolute;
  top: 0;
  left: 0;
}
.progress.yellow .progress-bar {
  border-color: #0a70f5;
}
.progress.yellow .progress-bar {
  border-color: #4569d7;
}
.progress.yellow .progress-right .progress-bar {
  animation: loading-grammar 1s linear forwards 1.8s;
}

@keyframes loading-grammar {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.loading-grammar {
  position: relative;
}
.progress-value-grammar {
  position: absolute;
  height: 100px;
  width: 100px;
  background: #d1e9ed;
  top: 26px;
  left: 25px;
  border-radius: 100%;
  text-align: center;
}

.speaking-text {
  text-align: left;
  margin-top: 20px;
  margin-left: 40px;
}
